anaconda-client==1.12.0
anaconda-navigator==2.4.3
anyascii==0.3.2
appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
backports.weakref==1.0.post1
brotlipy==0.7.0
certifi==2024.6.1
charset-normalizer==2.1.0
clyent==1.2.2
constantly==15.1.0
contractions==0.1.73
cssselect==1.1.0
datashape==0.5.4
defusedxml==0.7.1
diff-match-patch==20201009
dill==0.3.7
Django==5.1
djangorestframework==3.15.2
et-xmlfile==1.1.0
fonttools==4.25.0
fsspec==2024.6.1
fst-pso==1.8.1
future==0.18.3
FuzzyTM==2.0.9
jsonpointer==2.1
kaggle==1.5.16
keyring==23.8.1
lxml==4.9.2
mypy-extensions==1.0.0
numpy==1.24.4
pandas==2.0.3
pillow==10.0.0
pluggy==1.0.0
pyparsing==3.1.1
pytest==7.4.0
requests==2.31.0
scikit-learn==1.2.2
scipy==1.11.1
six==1.16.0
tomli==2.0.1
typing-extensions==4.5.0
urllib3==1.26.15
gunicorn
