/* Adjust as needed */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
background-color: #f5f5f5;
font-family: 'Raleway', sans-serif;
color: #333;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.header {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 40px;
}

.logo {
width: 150px;
height: 150px;
background-size: contain;
background-repeat: no-repeat;
}

.container {
text-align: center;
width: 80%;
margin: 0 auto;
position: relative;
}

h2 {
font-size: 2.5em;
font-weight: 800;
margin-bottom: 20px;
}

.homepage-paragraph {
font-size: 1.2em;
font-weight: 300;
line-height: 1.5;
background-color: rgba(255, 255, 255, 0.8);
padding: 20px;
border-radius: 10px;
width: 60%;
margin: 0 auto;
border-radius: 8px;
background: #ffffff;
box-shadow:  -25px 25px 60px #a8a8a8,
              25px -25px 60px #ffffff;
}


.btn {
background-color: #369694;
color: #fff;
padding: 10px 20px;
text-decoration: none;
border-radius: 20px; /* Adjust the value as needed for more or less rounding */
font-size: 1.2em;
transition: background-color 0.3s ease;
}

.btn:hover {
background-color: #1e6e6e;
}

@keyframes zoomIn {
0% {
  transform: scale(0.5);
  opacity: 0;
}
100% {
  transform: scale(1);
  opacity: 1;
}
}

.zoom-in {
display: inline-block; /* Required for transform to work properly */
animation: zoomIn 1s ease-in-out; /* Adjust duration and timing function as needed */
}
button {
position: relative;
display: inline-block;
cursor: pointer;
outline: none;
border: 0;
vertical-align: middle;
text-decoration: none;
background: transparent;
padding: 0;
font-size: inherit;
font-family: inherit;
}

button.learn-more {
width: 12rem;
height: auto;
}

button.learn-more .circle {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: relative;
display: block;
margin: 0;
width: 3rem;
height: 3rem;
background: hsl(179, 47%, 40%);
border-radius: 1.625rem;
margin-top:20px;
}

button.learn-more .circle .icon {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 0;
bottom: 0;
margin: auto;
background: #fff;
}

button.learn-more .circle .icon.arrow {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
left: 0.625rem;
width: 1.125rem;
height: 0.125rem;
background: none;
}

button.learn-more .circle .icon.arrow::before {
position: absolute;
content: "";
top: -0.29rem;
right: 0.0625rem;
width: 0.625rem;
height: 0.625rem;
border-top: 0.125rem solid #fff;
border-right: 0.125rem solid #fff;
transform: rotate(45deg);
}

button.learn-more .button-text {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding: 0.75rem 0;
margin: 0 0 0 1.85rem;
color: #f5f5f5;
font-weight: 700;
line-height: 1.6;
text-align: center;
text-transform: uppercase;
margin-top:20px
}

button:hover .circle {
width: 100%;
}

button:hover .circle .icon.arrow {
background: #fff;
transform: translate(1rem, 0);
}

button:hover .button-text {
color: #fff;
}

.welcome-container {
text-align:center;
font-family: 'Raleway', sans-serif;
display: inline-block;
max-width: 90%;
margin: 0 auto;
padding: 10px;
font-size: 1.2em;
font-weight: 300;
line-height: 1.5;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 8px;
background: #ffffff;
box-shadow: -25px 25px 60px #a8a8a8, 25px -25px 60px #ffffff;
}

.container_login_page {
background-color:#f5f5f5;
font-family:'Raleway';
}

.login_inputs {
margin:40px;
}