{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'landing/style.css' %}">
        <!-- <link rel="icon" href="{% static 'rocket_favicon_io/favicon.ico' %}" type="image/x-icon"> -->

      </head>
  <body>
    <div class="header">
      <img src="{% static 'landing/Rocket Logo.png' %}"  alt="Rocket logo" height="240" width="480">
    </div>
    <div class="container">
      <img src="{% static 'landing/Rocket.png' %}"  alt="Rocket gif" height="150" width="180">
    </div>

  <div>
      <!--<h2 class = "zoom-in">Blast off your vision with Rocket</h2>-->
      <a href="{% url 'register' %}" class="button">
        Register
        <div class="arrow-wrapper">
            <div class="arrow"></div>
        </div>
    </a>
      <!-- <button class="learn-more">
        <a href="{% url 'register' %}" class="button-link">
          <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
          </span>
          <span class="button-text">Register</span>
      </button> -->
    </div>
  </body>
</html>