<!-- learn_more.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'landing/style.css' %}">
    <title>Learn More</title>
</head>
    </main>
        <section class = "homepage-paragraph">
            <body>
                <div>
                <p>An innovative, new technology with a mission to connect people and kickstart their success by empowering collaboration</p>
                </div>
                <br>
                <div>
                        <h1>Welcome to Rocket</h1>
                        <p>Based in Toronto, Rocket is a new tool for people looking to work on side projects
                            and expand their horizons! Our platform connects you with professionals who possess 
                            the skills you need to make your vision a reality.
                            With Rocket, you can feel confident sharing your information as security is baked into our technology. 
                            All information shared with the project space is protected so you can openly discuss with your new connections. 
                            Our digital contracting technology saves you time, gone are the days of expensive legal fees and complex paperwork. 
                            Our tool allows you to securely make those early connections and build the base for success.
                            Have you got a great idea but have no technical skills?
                            Maybe you are a creative UX designer looking to add some flare to an exciting new startup?
                            Or perhaps you are just looking for a way to expand from your day job and use your skills in a new market!</p>
                </div>
        </body>
    </section>
    </main>
</html>